body {
	padding: 0px;
	margin: 0px;
	background-color: #f8f9fa;
}
header {
	background-color: #007bff;
  	padding: 10px;
  	text-align: center;
}
header a{
	color: #f8f9fa;
	text-decoration: none;
	font-size: 25px;
	margin: 10px;
}
header a:hover{
	text-decoration: underline;
	color: #f8f9fa;
}
form{
	text-align: center;
	font-size: 20px;
	margin: 10px;
}
.panel-blue{
	border-width: 10px;
	border-color: black;
	border-radius: 12px;
	background-color: #268eff;
	margin-top: 50px;
}